.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* SearchBar start */
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-text {
  height: 18px;
  padding: 3px;
  border: 0px;
  border-radius: 10px;
  background-color: lightgray;
}
.search-text:focus {
  border-color: red;
}
.search-bar > label {
  font-size: small;
}
/* SearchBar end */

/* Table start */
table {
  border-collapse: collapse;
  width: 300px;
  margin: 1rem auto;
  background-color: white;
  text-align: center;
}

th, td {
  border-left: none;
  border-right: none;
}

/* thead */
thead {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
thead th {
  padding: 8px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #000;
  background-color: lightcoral;
}

/* tbody */
tbody tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}
tbody th {
  padding: 8px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: lightgreen;
}
tbody tr.product:nth-child(odd) {
  background-color: lightgray;
}
tbody tr.product:nth-child(even) {
  background-color: white;
}
tbody td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.nostock {
  color: red;
}
.product-name {
  text-align: left;
}
.product-price {
  text-align: right;
}
/* Table end */